

body {
    background-color: rgb(107, 103, 103);
}

.main {
    background-color: #9C89B8;
    width: 500px;
    min-height: 550px;
    margin-left: 33%;
    border-radius: 13px;
    

}
h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}

table, td {
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 10px;
}


.board td {
    width: 27px;
    height: 27px;
    background-color: #F0E6EF;
    text-align: center;
    font-size: 20px;
    
}


.board td.marked {
    background-color: grey;
}

/* .marked:hover {
    font-size: 35px;
    color: grey; 
} */

.container {
    display: grid;
}

.mines {
    flex: 1;
    height: 50px;
    font-size: 30px;  
    background-color: #B8BEDD;


}
.cell {
    cursor: pointer;
}

.game_time {
    flex: 1;
    height: 50px;
    font-size: 30px;
    background-color: #B8BEDD;
    
}


 label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

.info_bar {
    display: flex;
}

tr td.cover {
    background: rgb(170, 162, 162);
   
}

.modal {
    display: none;
    background-color: rgb(154, 189, 85);
    color: black;
    border: 5px solid rgb(0, 0, 0);
    width: 400px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 350px;
    left: calc(50% - 230px);
  }
  .restart-btn {
    height: 30px;
    font-size: 20px;
  }

  footer {
    text-align:  center;
    font-size: 35px;
    color: white;
  }